
/.vscode/
**/node_modules
.CFUserTextEncoding
.DS_Store
.IdentityService/
.Rhistory
.SAP/
.ServiceHub/
.Trash/
.VSCodeVim/
.android/
.babel.json
.bash_history
.bash_sessions/
.bundle/
.bzr.log
.cache/
.clojure/
.stack/
.ghc/
.clojure_history
golang/
.cocoapods/
.config/
.cups/
.dart/
.dartServer/
.docker/
.dotnet/
.dropbox/
.eclipse/
.elm/
.eslintrc
.flutter
.fonts/
.gem/
.gemrc
.git/
.gitbook/
.gradle/
.history
.icesoft/
.ionic/
.irb-history
.jenv/
.jspm/
.lesshst
.lldb/
.local/
.m2/
.mkshrc
.mono/
.node-gyp/
.node_repl_history
.npm/
.nuget/
.nuuid.ini
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.rnd
.rstudio-desktop/
.rvm/
.sdb/
.sqlite_history
.ssh/
.subversion/
.templateengine/
.v8flags.5.8.283.41.7d327039df77b9766185ad9514cfafd7.json
.vim-tmp/
.viminfo
.vscode-insiders/
.webclipse/
.webclipse.properties
.wget-hsts
.wine/
.xs_logs/
.xsconfig
.yarnrc
.zcompdump
.zcompdump-AwesomePanda-5.3
.zcompdump-AwesomePanda-5.5.1
.zlogin
.zsh_history
.zshrc.pre-oh-my-zsh
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
SAP/
Tracks/
Utils/
dropbox_odjhey/
eclipse/
eclipse-workspace/
hana_work/
Projs/
proj/
read/
writeups/
z/
safe/
notes/
.electron/
.rainbow_oauth
.gitkraken/
*.dump
OneDrive/
.iterm2/
.iterm2_shell_integration.zsh
.spacemacs
.shpotify.cfg
.bitbar/
.offlineimaprc
org/
org
LightWorks/
.gnupg/
.password-store/
.offlineimap.py
.mu/
.offlineimap/
MailDir/
.authinfo

dlclient.history
dlclient.localstate
dlgmanager.config

*.old
*.log
tmp/
.emacs.d/
.emacs.d
.terminfo
Armok Vision/


.cargo/
.multirust
.rustup/ 
.tldrc/
.anydesk/
.zfunc/

VirtualBox VMs/


.Genymobile
.dbshell


.emulator_console_auth_token
.expo/
.ipython/
.jupyter/
.keras/
.lbryum/
.matplotlib/
.mongodb/
.python_history
.rndebugger_port
.rndebuggerrc
.v8flags*
.vscode-react-native/
.zcompdump*
.zoomus/
AndroidStudioProjects/
Applications (Parallels)/
Virtual Machines.localized/


