
/.vscode/
**/node_modules
.CFUserTextEncoding
.DS_Store
.IdentityService/
.Rhistory
.SAP/
.ServiceHub/
.Trash/
.VSCodeVim/
.android/
.babel.json
.bash_history
.bash_sessions/
.bundle/
.bzr.log
.cache/
.clojure/
.stack/
.ghc/
.clojure_history
golang/
.cocoapods/
.config/
.cups/
.dart/
.dartServer/
.docker/
.dotnet/
.dropbox/
.eclipse/
.elm/
.emacs.d/
.eslintrc
.flutter
.fonts/
.gem/
.gemrc
.git/
.gitbook/
.gradle/
.history
.icesoft/
.ionic/
.irb-history
.jenv/
.jspm/
.lesshst
.lldb/
.local/
.m2/
.mkshrc
.mono/
.node-gyp/
.node_repl_history
.npm/
.nuget/
.nuuid.ini
.oh-my-zsh/
.oracle_jre_usage/
.p2/
.rnd
.rstudio-desktop/
.rvm/
.sdb/
.sqlite_history
.ssh/
.subversion/
.templateengine/
.v8flags.5.8.283.41.7d327039df77b9766185ad9514cfafd7.json
.vim-tmp/
.viminfo
.vscode-insiders/
.webclipse/
.webclipse.properties
.wget-hsts
.wine/
.xs_logs/
.xsconfig
.yarnrc
.zcompdump
.zcompdump-AwesomePanda-5.3
.zcompdump-AwesomePanda-5.5.1
.zlogin
.zsh_history
.zshrc.pre-oh-my-zsh
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/
SAP/
Tracks/
Utils/
dropbox_odjhey/
eclipse/
eclipse-workspace/
hana_work/
Projs/
proj/
read/
writeups/
z/
safe/
notes/

**.old
**.log


