[user]
	name = Odee
	email = odjhey@github.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/Odz/.gitignore_global
[merge]
  tool = vimdiff
[alias]
  l=log --pretty=oneline
  s=status
  cm=commit -m
  amend=commit --amend
  d=diff

[github]
	user = odjhey
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
