[user]
	name = Odee
	email = odjhey@gmail.com
[color]
	ui = auto
[core]
	editor = vim
	excludesfile = /Users/Odz/.gitignore_global
    pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'

[merge]
  tool = vimdiff
[alias]
  l=log --oneline
  s=status
  cm=commit -m
  amend=commit --amend
  d=diff
  cmaster=checkout master
  c=checkout

[github]
	user = odjhey
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[interactive]
    diffFilter = delta --color-only
